<cyber>
    <module>
        <name>p1</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/test_component/p1.dag</dag_conf>
        <process_name>p1</process_name>
    </module>
<module>
        <name>p2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/test_component/p2.dag</dag_conf>
        <process_name>p2</process_name>
    </module>

</cyber>
