<cyber>
    <module>
        <name>timer1</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/test_component/timer1.dag</dag_conf>
        <process_name>timer1</process_name>
    </module>
<module>
        <name>timer2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/test_component/timer2.dag</dag_conf>
        <process_name>timer2</process_name>
    </module>

</cyber>
