<cyber>
    <module>
        <name>1tn_C</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/simple_s/1tn_C.dag</dag_conf>
        <process_name>1tn_C</process_name>
    </module>
<module>
        <name>1tn_S</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/simple_s/1tn_S.dag</dag_conf>
        <process_name>1tn_S</process_name>
    </module>

</cyber>
