<cyber>
    <module>
        <name>nt1_C</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/simple_s/nt1_C.dag</dag_conf>
        <process_name>nt1_C</process_name>
    </module>
<module>
        <name>nt1_S</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/simple_s/nt1_S.dag</dag_conf>
        <process_name>nt1_S</process_name>
    </module>

</cyber>
