<cyber>
    <module>
        <name>ntn_C</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/simple_s/ntn_C.dag</dag_conf>
        <process_name>ntn_C</process_name>
    </module>
<module>
        <name>ntn_S</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/simple_s/ntn_S.dag</dag_conf>
        <process_name>ntn_S</process_name>
    </module>

</cyber>
