<cyber>
    <module>
        <name>c</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/c.dag</dag_conf>
        <process_name>c</process_name>
    </module>
   <module>
        <name>y</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/y.dag</dag_conf>
        <process_name>y</process_name>
    </module>
<module>
        <name>l</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/l.dag</dag_conf>
        <process_name>l</process_name>
    </module>
<module>
        <name>t</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/t.dag</dag_conf>
        <process_name>t</process_name>
    </module>
<module>
        <name>fm</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/fm.dag</dag_conf>
        <process_name>fm</process_name>
    </module>
</cyber>
