<cyber>
    <module>
        <name>detect</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/detect.dag</dag_conf>
        <process_name>detect</process_name>
    </module>
   <module>
        <name>detect</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/detect.dag</dag_conf>
        <process_name>detect</process_name>
    </module>

</cyber>
