<cyber>
    <module>
        <name>c2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/c2.dag</dag_conf>
        <process_name>c2</process_name>
    </module>
   <module>
        <name>y2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/y2.dag</dag_conf>
        <process_name>y2</process_name>
    </module>
<module>
        <name>l2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/l2.dag</dag_conf>
        <process_name>l2</process_name>
    </module>
<module>
        <name>t2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/t2.dag</dag_conf>
        <process_name>t2</process_name>
    </module>
<module>
        <name>fm2</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/fm2.dag</dag_conf>
        <process_name>fm2</process_name>
    </module>
<module>
        <name>ff</name>
        <dag_conf>/apollo/cyber/AD_Middle_Test/cyber/detect_s/ff.dag</dag_conf>
        <process_name>ff</process_name>
    </module>
</cyber>
